div {
  height:50px;
  width:50px;
  background-color: #fff8dc;
  font-family: sans-serif;
  font-style: bold;
  display: inline-block;
  border: 10px solid black;
  text-align: center;
  padding: 20px;
}
